<h1>Students</h1>

<h3>Search for students:</h3>
<%= form_tag students_path, method: :get do %>
  <%= text_field_tag :query, params[:query] %><br>

  <%= submit_tag "Search for Students", name: nil %>
<% end %>


<!-- take the resualts of a search and iterate through each one to display-->
<% @students.each do |st| %>
  <%= render partial: "student", locals: {student: st} %>
<% end %>